* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

nav {
    height: 10vh;
    line-height: 10vh;
}


ul {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.navContainer {
    max-width: 90%;
    margin: auto;
    margin-left: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2a5885;
}

li {
    color: #2a5885;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.btn {
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
    background-color:#5181b8;
}


