
.headingGroup {
    text-align: center;
    font-size: 60px;
}

.row {
    margin-top:1%;

}

.list-group-item {
    text-align: center;

}

.card-header {
    background-color: #2a5885;
    color: #f7f8fa;
    border-radius: 15px 50px 30px 5px;
}
.col h3, p{
    text-align: center;
}

.description {
    text-align: center;
}

.list-group{
    max-height: 25%;
    overflow-y: scroll;
}

.privateCheck {
    width: fit-content;
    padding: 10px;
    background-color: #5181b8;
    color:#f7f8fa;
}

.lastUpdated{
    float: right;
}
.card {
    margin-top: 1%;

}
.postList {
    overflow-y: scroll;
}

.joinButton {
    float: right;
}

.modalPost{
    width: 90vw;  
    max-width: 90vw;
}

.modalPostBody{
    height: 90%;  
    max-height: 90vw;
}
.commentClass {
    overflow-y: scroll;
}

.btn btn-light {
    background-color: #edeef0;
}

