h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #2a5885;
    font-size: 10vh;
}

button {
    border-radius: 5px;
    display: block;
    padding: 5px;
    background-color: #5181b8;
}

.login-button {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 25%;
    margin-right: 45%;
}