
.settings{
  z-index: 1;
}
.page-holder{
  background-color: #edeef0;
}
.card-header {
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
}

h3,.h3 {
  font-size: 1.575rem;
}

.card-profile-img {
  max-width: 12rem;
  max-height: 12rem;
  margin-top: -6rem;
  margin-bottom: 1rem;
  border: 3px solid white;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%);
  background-color: #c7c1c1;
}
.contentDiv {
  padding-top: 4rem;
  background-color: #c7c1c1 ;
}
.card-profile .card-header {
  height: 9rem;
  background-position: center center;
  background-size: cover;
  background-image: url("../../Assets/I-stand-with-Ukraine.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

